@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moderustic:wght@300..800&display=swap');

:root {
    --azul-escuro: #002f6cd7;
    --azul-claro: #2e78d9d7;
    --cinza-claro: #486284a9;
    --cinza: #3f4b59;
    --cinza-escuro: #2d2f33;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-subtitulo: 'Moderustic', normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: var(--cinza-claro);
    background-image: url('images-d005/background-geometrico.jpg');
    background-attachment: fixed;
    font-family: (--fonte-padrao);
    color: white;
}

header {
    color: rgba(255, 255, 255, 0.900);
    text-align: center;
    font-family: var(--fonte-destaque);
    background-color: var(--cinza-escuro);
    margin: 0px;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.623);
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(to bottom, var(--azul-claro), var(--cinza-escuro));
    border-color: black;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.623);
}

body h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 5px;
    font-weight: 800;
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(to right, #f2f2f2, transparent);
    text-indent: 5px;
}

#profile-pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
    margin: 0px 0px 20px 20px;
}

@media (max-width: 500px) {

    #profile-pic{
        width: 100px;
        height: 100px;
    }

    .container{
        padding: 0 20px;
    }

    main {
        font-size: 13px;
        margin: 0px -20px;
    }

    header {
        font-size: 1.6em;
    }

    main ul {
        padding-left: 20px;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

main {
    margin-bottom: 40px;
    padding: 10px 20px;
    background-image: radial-gradient(var(--azul-claro), var(--cinza-escuro));
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.342);
}

#div-text {
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    background-image: url('images-d005/papel_de_parede_texturado.jpg');
    color: black;
    padding: 30px;
    border-radius: 0px 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    font-weight: 400;
}

main ul{
    font-size: 1.2em;
}

ul img {
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

footer {
    font-family: var(--fonte-subtitulo);
    text-align: center;
    background-color: var(--cinza-escuro);
    padding: 30px;
    text-decoration: none;
    border-radius: 20px 20px 0px 0px;
    font-size: 1.2em;
    background-image: linear-gradient(to top, var(--azul-claro), var(--cinza-escuro));
    border-color: black;
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.623);
}

footer a:hover {
    text-decoration: none;
    background-color: var(--cinza-escuro);
    border-radius: 20px;
    padding: 0px 5px;
}

body a:visited {
    text-decoration: none;
    color: white;
}